body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: xx-large;
}

ul {
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: crimson;
}
.num-1 {
  color: brown;
}

h2 {
  color: chartreuse;
}

h3 {
color: deeppink;
}

h4 {
  color: bisque;
}

h5 {
  color: cadetblue;
}

h6 {
  color: darkcyan;
}

p {
  padding-top: 180px;
}
