body {
  text-align: center;
  font-size: xx-large;
}

div {
  font-size: x-large;
}

@font-face {
  font-family:"HeaderFont";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

h1, h2, h3, h4, h5, h6, h7,  {
  font-family: "HeaderFont" ;
  color: crimson;
}
.num-1 {
  color: brown;
}
